**/.DS_Store
nbproject
manifest.mf
build.xml

node_modules

.project
.settings
.idea/*

_public
node_modules/*
npm-debug.log

test/test-results.xml

vendor/angular-cookies/
vendor/angular-mocks/
vendor/angular-resource/
vendor/angular-sanitize/
vendor/angular/
vendor/bootstrap-less-themes/
vendor/bootstrap/
vendor/console-polyfill/
vendor/font-awesome/
vendor/jquery/
